
{% extends "layout.twig" %}

{% block content %}

<header class="bk-header clearfix">
      <div class="headerwrapper">
          <div class="logo-container">
              {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
              {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
          </div>
          <div class="textwidget clearfix">
              {{widget('profile', 'headercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
          </div>
      </div>
</header>

<div class="pattern">
</div>

<div class="featurebackground">
    {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}} 
</div>

<div class="navbar clearfix">
    <div class="headerwrapper">
        {{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
    </div>
</div>

<div class="page-wrap">
        <div class="mainzone">
		        {{zone('main')|raw}}
        </div>
</div>

<div class="pattern">
</div>

<footer class="bk-footer clearfix">
      <div class="headerwrapper">
          <div class="left">
              {{widget('companyname', 'thisunqiuewidgetname', {"business": "profile"})|raw}}
          </div>
          <div class="right clearfix">
               {{widget('profile', 'headercolumn1copyright', { 'profileType' : 'copyright' })|raw}}
          </div>
      </div>
</footer>

{% endblock %}